<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Youtube Video Summarizer</title>

<link rel="shortcut icon" href="/static/favicon.png" type="image/x-icon">

<script src="/static/tailwind-css-3.2.4.js"></script>
<link rel="stylesheet" href="/static/dist/semantic.min.css">

<script defer src="/static/cdn.alpine.min.js"></script>
<script src="/static/htmx.min.js"></script>
<!-- <script src="/static/dist/semantic.min.js"></script> -->

<style>
    [x-cloak] {
        display: none;
    }

    .elipsis {
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
    }

    body {
        font-family: Gadugi, sans-serif;
    }
</style>